body {
    background-color: #0d6efe0d;
    padding: 40px 0;
}

b, .btn {
    font-weight: 500;
}

.title {
    margin: 0 0 30px;

    h1 {
        margin: 0;
        font-weight: 700;
    }

    p {
        margin: 5px 0 0;
        opacity: 0.85;
    }
}

.form-group {

    label {
        font-weight: 500;
        margin: 0 0 5px;
    }

    .label-wrapper {
        margin: 0 0 5px;

        label {
            margin: 0;
        }

        small {
            opacity: 0.85;
            margin: 3px 0 0;
            display: block;
        }
    }

    .input-wrapper {
        display: flex;
        align-items: center;

        input, button {
            height: 50px;
        }

        input {

            &[readonly] {
                background-color: #ffffff80;
            }
        }

        button {
            margin-left: 15px;
            white-space: nowrap;
        }
    }

    .input-messages {
        margin: 5px 0 0;

        p {
            margin: 0;
            font-size: 13px;
        }
    }
}

.bootbox.modal {

    .modal-content {

        .modal-header {
            border-bottom: none;
            padding: 20px 20px 0;

            .modal-title {
                font-weight: 600;
                font-size: 22px;
            }
        }

        .modal-body {
            padding: 10px 20px 20px;

            .bootbox-body {

                p {
                    margin: 0;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    b {
                        display: block;
                    }
                }
            }
        }

        .modal-footer {
            border-top-color: #eee;
            padding: 20px;

            .btn {
                margin: 0;

                &:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}
