body {
  background-color: #0d6efe0d;
  padding: 40px 0;
}

b, .btn {
  font-weight: 500;
}

.title {
  margin: 0 0 30px;
}

.title h1 {
  margin: 0;
  font-weight: 700;
}

.title p {
  margin: 5px 0 0;
  opacity: 0.85;
}

.form-group label {
  font-weight: 500;
  margin: 0 0 5px;
}

.form-group .label-wrapper {
  margin: 0 0 5px;
}

.form-group .label-wrapper label {
  margin: 0;
}

.form-group .label-wrapper small {
  opacity: 0.85;
  margin: 3px 0 0;
  display: block;
}

.form-group .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-group .input-wrapper input, .form-group .input-wrapper button {
  height: 50px;
}

.form-group .input-wrapper input[readonly] {
  background-color: #ffffff80;
}

.form-group .input-wrapper button {
  margin-left: 15px;
  white-space: nowrap;
}

.form-group .input-messages {
  margin: 5px 0 0;
}

.form-group .input-messages p {
  margin: 0;
  font-size: 13px;
}

.bootbox.modal .modal-content .modal-header {
  border-bottom: none;
  padding: 20px 20px 0;
}

.bootbox.modal .modal-content .modal-header .modal-title {
  font-weight: 600;
  font-size: 22px;
}

.bootbox.modal .modal-content .modal-body {
  padding: 10px 20px 20px;
}

.bootbox.modal .modal-content .modal-body .bootbox-body p {
  margin: 0;
}

.bootbox.modal .modal-content .modal-body .bootbox-body p:not(:last-child) {
  margin-bottom: 10px;
}

.bootbox.modal .modal-content .modal-body .bootbox-body p b {
  display: block;
}

.bootbox.modal .modal-content .modal-footer {
  border-top-color: #eee;
  padding: 20px;
}

.bootbox.modal .modal-content .modal-footer .btn {
  margin: 0;
}

.bootbox.modal .modal-content .modal-footer .btn:last-child {
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */